body{
    background-color: rgb(239, 239, 239);
    margin: 0;
}

*{
    margin: 0px;
    padding: 0px;
}

a{

    text-decoration: none;
}

ol, li{
    list-style: none;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
  }
  
  .topNameBar-inner{
    padding: 0 167px;
  }

  .topNameBar{
      padding: 20px 0;
      position: fixed;
      width: 100%;
      transition: all 1s;
      color: rgb(188, 190, 193);
  }

.topNameBar.active{
    background-color: white;
    box-shadow: 0px 5px 2px -1px rgba(0,0,0,0.33);
    color: black;
    padding: 9px 0;
    z-index: 1;
}

  .topNameBar nav{
      float: right;
      padding-top: 2px;
      padding-bottom: 0px;
  }
  
.topNameBar nav ul{
    margin: 0;
    padding: 0;
}

.topNameBar  nav > ul > li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    position: relative;
}


.topNameBar nav ul li a{
    font-size: 13px;
    font-weight: bold;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    padding-top: 9px;
    padding-bottom: 8px;
    display: block;
    position: relative;
    color: inherit;
}


.topNameBar nav ul li.active a::after,
.topNameBar nav ul li.highlight a::after{
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: rgb(232, 103, 107);
    animation: aSlide 0.3s;
}

@keyframes aSlide{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

.topNameBar .logo{
    float: left;
    font-family: "Arial Black";
    font-size: 30px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.topNameBar .logo .rs{
    color: #e8676b;
    margin-right: 4px;
}

.topNameBar .logo .card{
    color: rgb(162, 157 , 162);
}

.topNameBar .topNameBar-inner nav .menu{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    color: black;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

.topNameBar .topNameBar-inner nav .menu li{
    margin: 10px;
    white-space: nowrap;  /*不允许自动换行*/
}

.topNameBar .topNameBar-inner nav li.active .menu{
    display: block;
    animation: menuSlide 0.5s;

}

@keyframes menuSlide{
    0%{
        margin-right: 100%;
    }
    100%{
        margin-right: 0;
    }
}

.banner{
    height: 517px;
    background-image: url(../img/rs-cover-2-2-1-1.jpg);
    background-position: center center;
    background-size: cover;
}

.banner .mask{
    height: 517px;
    background-color: rgba(0, 0, 0, 0.8);
}

main{
    margin-top: -340px;
}

.userCard{
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    max-width: 931px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

[site-Flag].animation{
    transform: translateY(80px);
}

[site-Flag]{
    transform: translateY(0);
    transition: all 0.5s;
}

.pictureAndText{
    padding: 57px 52px 57px 52px;
}


.userCard .pictureAndText .userPicture{
    float: left;
} 

/* --------*/
.userCard .pictureAndText .userPicture .userPhotoHover{
    display: none;
} 

.userCard .pictureAndText .userPicture:hover .userPhoto{
    display: none;
} 

.userCard .pictureAndText .userPicture:hover .userPhotoHover{
    display: inline;
} 
/*----------*/

.userCard .pictureAndText .userText{
    width: 460px;
    margin-left: 63px;
    float: left;
}

.userCard .pictureAndText .userText h1{
    margin-top: 26px;
    margin-bottom: 4px;
}

.userCard .pictureAndText .userText hr{
    border: none;
    border-top: 1px solid rgb(222, 222, 222);
    margin: 28px 0px;
}

.userCard .welcome{
    display: inline-block;
    line-height: 22px;
    padding: 5px 9px;
    color: white;
    background-color: rgb(232, 103 , 107);
    position: relative;
}

.userCard .welcome .triangle{
    display: block;
    width: 0px;
    border-bottom: 10px solid transparent;
    border-left:10px solid rgb(232, 103 , 107);
    margin-left: 2px;
    position: absolute;
    left: 4px;
    top: 100%;
    
}

.userCard dl dt,
.userCard dl dd{
    float: left;
    padding: 10px 0;
}

.userCard dl dt{
    width: 30%;
    font-weight: bold;
}

.userCard dl dd{
    width: 70%;
    color: rgb(158, 168, 161);
}

.userCard .media{
    background-color: rgb(232, 103 , 107);
    text-align: center;
}

.userCard .media a{
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    padding: 5px 0;
    line-height: 30px;
    margin: 16px 16px;
}

.userCard .media a:hover{
    background-color:rgb(208, 92, 96);
}

.userCard svg{
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top; /*give more space form symbol top to div top*/
}

main .downloadResume-warp{
    text-align: center;
}

main .downloadResume{
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgb(203, 205, 207);
    font-size: 14px;
    line-height: 16px;
    padding: 21px 55px;
    display: inline-block;
    margin: 35px 0;
    font-weight: bold;
    border-radius: 4px;
}

main .downloadResume:hover{
    box-shadow:0px 2px 17px 3px #c9bbbb ;
    transition: box-shadow 0.5s;
    /* transition-duration: 0.3s; */
}

main .selfIntroduction{
    margin-left: auto;
    margin-right: auto;
    max-width: 931px;
    text-align: center;
    font-family: cursive;
    line-height: 1.8;
    font-size: 20px;
}

section.skills,
section.message,
section.profile{
    margin-top: 85px;
    margin-left: auto;
    margin-right: auto;
    max-width: 931px;
}

.skills h2,
.message h2,
.profile h2{
    text-align: center;
}

.skills ol{
    padding: 45px 51px 25px;
    margin-top: 32px;
    background-color: white;
    box-shadow:0px 2px 17px 3px #c9bbbb ;
}

.skills ol li{
    margin-bottom: 39px;
    font-size: 14px;
    width:48%;
    float: left;
    box-sizing: border-box;
}

.skills ol li:nth-child(even){
    float: right;
}

.skills .progressBar{
    border-radius: 3px;
    height: 5px;
    box-sizing: border-box;
    background: rgb(250, 225, 225);
    overflow: hidden;
}

.skills .progressBar .progress{
    border-radius: 3px;
    height: 100%;
    width: 50%;
    background: rgb(232, 103, 107);
    transform: translateX(0);
    transition: all 1s;
}

.skills.animation .progressBar .progress{
    transform: translateX(-100%)
}

.message{
    margin-bottom: 50px;
}

.message ol{
    border-top: 1px solid #DDD;
    margin: 10px 0;
}

.message ol li{
    padding: 10px;
    border-bottom: 1px solid #DDD;
}

.message form{
    margin-left: 50px;
}
